<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Services </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-8">
        <div class="card">
            <div class="card-body">
                <div th:switch="${services}" class="container my-8">
                    <p class="my-8">
                        <a href="/services/addservices" class="btn btn-primary"><i
       class="fas fa-user-plus ml-2"> Add Service</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No Services yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>ServiceName</th>
                                        <th>ADGroup</th>
                                        <th>Username</th>
										<th>Password</th>
                                        <th>ContractID</th>
                                        <th>EndPoint</th>
										<th>l7EndPointInt</th>
                                        <th>l7EndPointExt</th>
                                        <th>consumer</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="serviceEntity : ${services}}">
                                        <td th:text="${serviceEntity.serviceName}"></td>
                                        <td th:text="${serviceEntity.adGroup}"></td>
                                        <td th:text="${serviceEntity.username}"></td>
										<td th:text="${serviceEntity.pasword}"></td>
                                        <td th:text="${serviceEntity.contractID}"></td>
                                        <td th:text="${serviceEntity.endPoint}"></td>
										<td th:text="${serviceEntity.l7EndPointInt}"></td>
                                        <td th:text="${serviceEntity.l7EndPointExt}"></td>
                                        <td th:text="${serviceEntity.consumer}"></td>
                                        <td><a th:href="@{/services/edit/{id}(id=${serviceEntity.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/services/delete/{id}(id=${serviceEntity.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>